/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_nav img {
    width: 150px;
}

.container_navbar {
    width: 100vw;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
}

.container_titles_nav {
    width: 100%;
}

.list_titles_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.list_titles_nav li {
    list-style: none;
    font-size: 1.1rem;
}

.list_titles_nav li a {
    text-decoration: none;
    color: white;
}