/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
}

.container_header {
    display: flex;
    align-items: center;
}

.container_logo {
    display: flex;
    justify-content: flex-start;
    width: 120px;
    margin: 0;
}

.menu_burger {
    width: 100%;
    height: 100%;
}

.container_list_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 10px 0 0 0;
}

.container_list_nav li a {
    text-decoration: none;
    color: white;
}



.burger {
    display: flex;
    justify-content: flex-end;
}