/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_nav {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_nav img {
    width: 250px;
    height: 150px;
}

.container_navbar {
    width: 100vw;
    height: 170px;
    background-color: gray;
    display: flex;
}

.container_titles_nav {
    width: 100%;
}

.container_titles_nav ul {
    background-color: bisque;
    padding: 10px;
    margin: 10px;
}

.container_titles_nav ul li {
    list-style-type: none;
}


.container_navbar,
.logo_nav,
.container_titles_nav {
    border: 1px black solid;

}