/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    padding: 0 10px;
    width: 90%;
}

h1,
article,
p {
    color: white;
    text-align: justify;
}

.poster_retromobile {
    background-image: url(/images/photos_evenements/retromobile/affiche.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 94%;
    margin: 20px auto;
    padding-bottom: 44%;
    border-radius: 15px;
}

.container_1_retromobile_picture div div,
.container_2_retromobile_picture div div,
.container_3_retromobile_picture div div,
.container_4_retromobile_picture div div,
.porsche_911 {
    background-size: cover;
    background-position: center;
    padding-bottom: 70%;
    border-radius: 15px;
    margin: 20px auto;
}

.container_1_retromobile_picture p,
.container_2_retromobile_picture p,
.container_3_retromobile_picture p,
.container_4_retromobile_picture p,
.container_porshe_911 p {
    text-align: center;
}

.container_porshe_911 p,
.container_4_retromobile_picture div p {
    color: black;
}

.porsche_907 {
    background-image: url(/images/photos_evenements/retromobile/voiture_1.jpg);
}

.ferrari_512 {
    background-image: url(/images/photos_evenements/retromobile/voiture_5.jpg);
}

.ferrari_375 {
    background-image: url(/images/photos_evenements/retromobile/voiture_6.jpg);
}


.cegga_ferrari {
    background-image: url(/images/photos_evenements/retromobile/voiture_2.jpg);
}

.jaguar_e_s1 {
    background-image: url(/images/photos_evenements/retromobile/voiture_3.jpg);
}

.ferrari_f1_312t {
    background-image: url(/images/photos_evenements/retromobile/voiture_4.jpg);
}

.ferrari_500_f2 {
    background-image: url(/images/photos_evenements/retromobile/voiture_7.jpg);
}

.ferrari_250_gto {
    background-image: url(/images/photos_evenements/retromobile/voiture_8.jpg);
}

.ferrari_f1_312t5 {
    background-image: url(/images/photos_evenements/retromobile/voiture_9.jpg);
}

.porsche_911 {
    background-image: url(/images/photos_evenements/retromobile/voiture_12.jpg);
}

.ferrari_250_gt {
    background-image: url(/images/photos_evenements/retromobile/voiture_13.jpg);
}

.avions_voisin {
    background-image: url(/images/photos_evenements/retromobile/voiture_14.jpg);
}

.alfa_romeo_6c {
    background-image: url(/images/photos_evenements/retromobile/voiture_15.jpg);
}

@media screen and (min-width: 481px) {
    .pictures_auto_show {
        width: 80%;
    }
}

@media screen and (min-width: 1025px) {
    .pictures_auto_show {
        width: 95%;
    }

    .container_1_retromobile_picture,
    .container_2_retromobile_picture,
    .container_3_retromobile_picture,
    .container_4_retromobile_picture {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .picture_retromobile_1 {
        width: 100%;
    }
}