/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(144, 144, 144, 1) 51%, rgba(1, 242, 240, 1) 100%);
    margin: auto;
}

a {
    cursor: pointer;
}

p {
    font-size: 0.9rem;
    font-weight: 600;
}

h1 {
    text-shadow: 0 2px 15px rgb(57, 211, 235);
}

p,
h4 {
    margin: 20px 10px;
    text-align: justify;
}

h1,
h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
}

h2::before {
    background: #e1e1e1 none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

h2::after {
    content: "";
    left: 50%;
    position: absolute;
    background: #30afb8 none repeat scroll 0 0;
    bottom: -15px;
    height: 3px;
    margin-left: -15px;
    width: 30px;
    background-color: #e4321b;
}

/* Slide */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: black;
    border-radius: 50%;
    opacity: 1;
    width: 50px;
    height: 50px;
    opacity: 1;
}

/* End Slide*/

/* Section Presentation*/

.white {
    color: #e1e1e1;
}

/*End Section Presentation*/

/* Section News*/

.cards_news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.picture_cards {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.picture_1 {
    background-image: url(/images/photos_evenements/500_ferrari/Affiche.jpg);
    padding-bottom: 100%;
}

.picture_2 {
    background-image: url(/images/b2.jpg);
    padding-bottom: 60%;
}

.picture_3 {
    background-image: url(/images/photos_evenements/retromobile/voiture_7.jpg);
    padding-bottom: 70%;
}

.picture_4 {
    background-image: url(/images/photos_evenements/le_mans_classic/affiche.jpg);
    padding-bottom: 47%;
}

.text_cards {
    text-align: justify;
}

.button_news {
    background-color: #1c87c9;
    border-radius: 20px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: auto;
    transition: color 0.5s, background-color 0.5s;
}

.button_news:hover {
    font-weight: bold;
    background-color: #96e61d;
    color: black;
}

@media screen and (min-width: 769px) {
    .container_grid {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-template-rows: repeat(2, 50%);
        gap: 20px;
        margin: 10px 5px 10px 15px;

    }

    .cards_news {
        position: relative;
        justify-content: center;
        height: 750px;
        margin: 0;
        border-radius: 20px;
    }

    .picture_1 {
        padding-bottom: 80%;
    }

    .button_news {
        position: absolute;
        bottom: 10px;
        left: 50;
    }

    .cards_news:first-child,
    .cards_news:nth-child(2) {
        border-bottom: 2px double black;
        box-shadow: 0 5px 5px 0 black;
        box-shadow: 0 -3px 5px 0 black;
    }

    .cards_news:nth-child(3),
    .cards_news:last-child {
        border-top: 2px double black;
        box-shadow: 0 -5px 5px 0 black;
        box-shadow: 0 3px 5px 0 black;
    }
}

@media screen and (min-width: 1200px) {

    .cards_news {
        height: 800px;
    }
}

/*End Section News*/

/* Section Gallery Pictures*/

.gallery_pictures_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 250px);
    gap: 20px;
    margin: 10px;
}

.container_pictures_gallery {
    background-size: cover;
}

.container_pictures_gallery:last-child {
    display: none;
}

.picture_gallery_1 {
    background-image: url(/images/photos_galerie_2/voiture_1.png);
}

.picture_gallery_2 {
    background-image: url(/images/photos_galerie_2/voiture_2.jpg);
}

.picture_gallery_3 {
    background-image: url(/images/photos_galerie_2/voiture_3.jpg);
}

.picture_gallery_4 {
    background-image: url(/images/photos_galerie_2/voiture_4.jpg);
}

.picture_gallery_5 {
    background-image: url(/images/photos_galerie_2/voiture_5.jpg);
}

.picture_gallery_6 {
    background-image: url(/images/photos_galerie_2/voiture_6.png);
}

.picture_gallery_7 {
    background-image: url(/images/photos_galerie_2/voiture_7.jpg);
}

.picture_gallery_8 {
    background-image: url(/images/photos_galerie_2/voiture_8.jpg);
}

.picture_gallery_9 {
    background-image: url(/images/photos_galerie_2/voiture_9.jpg);
}

.picture_gallery_10 {
    background-image: url(/images/photos_galerie_2/voiture_10.png);
}

.picture_gallery_11 {
    background-image: url(/images/photos_galerie_2/voiture_11.jpg);
}

.picture_gallery_12 {
    background-image: url(/images/photos_galerie_2/voiture_12.jpg);
}

.picture_gallery_13 {
    background-image: url(/images/photos_galerie_2/voiture_13.png);
}

.picture_gallery_14 {
    background-image: url(/images/photos_galerie_2/voiture_14.jpg);
}

.picture_gallery_15 {
    background-image: url(/images/photos_galerie_2/voiture_15.jpg);
}

.picture_gallery_16 {
    background-image: url(/images/photos_galerie_2/voiture_19.png);
}

.picture_gallery_17 {
    background-image: url(/images/photos_galerie_2/voiture_20.jpg);
}

.picture_gallery_18 {
    background-image: url(/images/photos_galerie_2/voiture_21.jpg);
}

.picture_gallery_19 {
    background-image: url(/images/photos_galerie_2/voiture_22.jpg);
}

.picture_gallery_20 {
    background-image: url(/images/photos_galerie_2/voiture_23.png);
}

.picture_gallery_21 {
    background-image: url(/images/photos_galerie_2/voiture_24.jpg);
}

.picture_gallery_22 {
    background-image: url(/images/photos_galerie_2/voiture_25.png);
}

.picture_gallery_23 {
    background-image: url(/images/photos_galerie_2/voiture_26.jpg);
}

.picture_gallery_24 {
    background-image: url(/images/photos_galerie_2/voiture_27.jpg);

}

.picture_gallery_25 {
    background-image: url(/images/photos_galerie_2/voiture_28.png);
}

.picture_gallery_26 {
    background-image: url(/images/photos_galerie_2/voiture_29.jpg);
}

.picture_gallery_27 {
    background-image: url(/images/photos_galerie_2/voiture_30.jpg);
}

.picture_gallery_28 {
    background-image: url(/images/photos_galerie_2/voiture_rouge.jpg);
}

@media screen and (min-width: 769px) {
    .gallery_pictures_grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 250px);
    }
}

@media screen and (min-width: 1025px) {
    .gallery_pictures_grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .container_pictures_gallery:last-child {
        display: block;
    }
}

/* End Section Gallery Pictures*/

/* Button back to up */

.back_to_up {
    display: inline-block;
    background-color: rgb(229, 151, 33);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s,
        visibility hidden;
    z-index: 1000;
}

.back_to_up::after {
    content: '\2191';
    font-size: 4em;
    line-height: 37px;
    color: #fff;
}

.back_to_up:hover {
    cursor: pointer;
    background-color: #333;
}

.back_to_up.show {
    opacity: 1;
    visibility: visible;
}

/* End Button back to up*/

/* Max width for main after 1400px */

@media screen and (min-width: 1400px) {
    main {
        width: 70vw;
        margin: auto;
    }
}