/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(144, 144, 144, 1) 51%, rgba(1, 242, 240, 1) 100%);
}

p {
    font-size: 0.9rem;
    font-weight: 600;
}

p,
h4 {
    margin: 20px 10px;
    text-align: justify;
}

h1,
h2 {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

h3 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px;
}

h2::before {
    background: #e1e1e1 none repeat scroll 0 0;
    bottom: -15px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

h2::after {
    content: "";
    left: 50%;
    position: absolute;
    background: #30afb8 none repeat scroll 0 0;
    bottom: -15px;
    height: 3px;
    margin-left: -15px;
    width: 30px;
    background-color: #e4321b;
}

/* Section presentation*/

.white {
    color: #e1e1e1;
}

/*End Section presentation*/

/* Section News*/

.cards_news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.picture_cards {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.picture_1 {
    background-image: url(/images/photos_evenements/500_ferrari/Affiche.jpg);
    padding-bottom: 100%;
}

.picture_2 {
    background-image: url(/images/b2.jpg);
    padding-bottom: 65%;
}

.picture_3 {
    background-image: url(/images/photos_evenements/retromobile/voiture_7.jpg);
    padding-bottom: 75%;
}

.picture_4 {
    background-image: url(/images/photos_evenements/le_mans_classic/affiche.jpg);
    padding-bottom: 50%;
}

.text_cards {
    text-align: justify;
}

.button_news {
    background-color: #1c87c9;
    border-radius: 20px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: auto;
}

/*End Section News*/

@media screen and (min-width: 1200px) {
    body {
        width: 60vw;
        margin: auto;
        background-size: 1500px;
    }
}