/*  Breakpoints
320px — 480px : les mobiles
481px — 768px : iPads, tablettes
769px — 1024px : petits écrans, ordinateurs portables
1025px — 1200px : ordinateurs de bureau, écrans larges
1201px et plus —  écrans extra larges, TV*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    body {
        width: 60vw;
        margin: auto;
        background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(144, 144, 144, 1) 51%, rgba(1, 242, 240, 1) 100%);
        background-size: 1500px;
    }
}